html {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
/*    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  */
}

.topnav {
  overflow: hidden;
  opacity: 50%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.85);
  transition: 0.2s ease-in-out;
  position: fixed;
  position: fixed;
  top: 0;
  z-index: 10;
}

.topnav a {
  font-family: "SF Pro Text";
  transition: 0.2s ease-in-out;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  width: 25%;
  height: 100%;
  padding: 8px 0px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:not(:first-child) {
  padding: 11px 0px;
}

.topnav a:hover {
  color: silver;
}

.active {
  color: silver;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive a {
    height: 20px;
    width: 100%;
    display: block;
    text-align: center;
    padding-left: 0px;
  }
  .topnav.responsive a:first-child {
    width: 50%;
    text-align: left;
  }
  .topnav.responsive a:last-child {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 50px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a:hover {
    color: silver;
  }
}
.navbarLogo {
    width: auto; 
    height: 20px; 
    padding-left: 50px;
    transition: 0.2s ease-in-out;
}
.navbarLogo:hover {
    filter: opacity(80%);
}

.phoneContainer {
    display: flex;
    position: relative;
    padding-bottom: 1000px;
    text-align: center;
}

body {
    padding-bottom: 125px;
    background-color: white;
    color: black;
    font-family: "San Francisco Display Semibold"
}

.border {
    z-index: 1; 
    position: relative; 
}

.sectionContainer {
    text-align: center; 
    width: 50%; 
    float: center; 
    display: block; 
    margin: 0 auto; 
    z-index: 9
}

.sectionDetailContainer {
    position: relative;
    text-align: left;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    color: white;
    padding-top: 50px;
}
.sectionDetailContainer img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 0;
}

.sectionDescriptionContainer {
    position: relative;
    text-align: left;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    color: white;
    padding-top: 50px;
}
.sectionDescriptionContainer h2 {
    font-family: "SF Pro Text";
    letter-spacing: -0.008em;
    position: relative;
    top: 10px;
    left: 0px;
    font-size: calc(20px + 2vw);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
}
.sectionDescriptionContainer p {
    font-family: "SF Pro Text";
    letter-spacing: -0.008em;
    position: relative;
    top: 10px;
    left: 0px;
    font-size: calc(20px + 0.8vw);
    text-align: left;
    margin: 0 auto;
    padding-bottom: 10px;
}

.dayTableContainer {
    width: 60%; 
    display: block; 
    margin: 0 auto; 
    overflow-x: scroll;
}

.dayTable {
    border-spacing: 0px;
}

.dayTable th {
    text-align: left;
    padding-right: 10px;
    padding-left: 20px;
    color: gray;
    font-family: "San Francisco Display Semibold";
    font-size: calc(20px);
}

.dayTable td {
    text-align: left;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "SF Pro Text";
    font-size: calc(20px + 0.8vw);
}

.dayTable tr:nth-child(2n) {
     background-color: rgb(247, 247, 247);
}

div#phoneContainer img {
    padding-top: 60px;
    float: left;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    pointer-events: none
}

div h1 {
    font-family: "San Francisco Display Semibold";
    letter-spacing: -0.008em;
    position: relative;
    top: 30px;
    left: 0px;
    font-size: calc(20px + 6vw);
    text-align: center;
}

.contactLink {
    color: rgb(0,112,201);
    text-decoration: none;
    font-family: "SF Pro Text";
    font-size: 25px;
}

.contactLink:hover {
    text-decoration: underline;
}

div h2 {
    font-family: "SF Pro Text";
    letter-spacing: -0.008em;
    position: relative;
    top: 10px;
    left: 0px;
    font-size: calc(20px + 0.5vw);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

h2 a {
    font-family: "SF Pro Text";
    text-decoration: none;
}
h2 a:visited {
    color: white;
}
h2 a:hover {
    color: rgb(0,112,201);
}

.subtitle {
    position: relative;
    font-family: "San Francisco Display Semibold";
    letter-spacing: .004em;
    text-decoration: none;
    font-size: calc(12px + 2.3vw);
    text-align: center;
    z-index: 9;
}

.subtitleLarge {
    position: relative;
    font-family: "San Francisco Display Semibold";
    letter-spacing: .004em;
    text-decoration: none;
    font-size: calc(12px + 3vw);
    text-align: center;
    z-index: 9;
    padding-top: 30px;
}

ul#linksList li a:hover {
    text-decoration: underline;
}

#phoneBackground {
    
}

#phoneFrame {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

body {
    position: relative;
    height: auto;
    min-height: 100%;   
}
body::after {
    content: '';
    display: block;
    height: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(230,230,230);
    color: silver;
    text-align: center;
    height: 70px;
}
.footerEmbed {
    width: 60%;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.footer div:nth-child(1) h2 {
    text-align: left;
    font-size: 20px;
}
.footer div:nth-child(2) h2 {
    text-align: right;
    font-size: 20px;
}

@media only screen and (max-width: 500px) {

    .sectionContainer {
        text-align: center; 
        width: 80vw; 
        float: center; 
        display: block; 
        margin: 0 auto; 
        padding-top: 500px; 
        z-index: 9
    }

    .sectionDetailContainer {
        position: relative;
        text-align: left;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        color: white;
        padding-top: 50px;
    }
    .sectionDetailContainer img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: auto;
        margin: auto;
        z-index: 0;
    }

    .dayTableContainer {
        width: 85%; 
        display: block; 
        margin: 0 auto; 
        overflow-x: scroll;
    }

    div h1 {
        font-family: "San Francisco Display Semibold";
        letter-spacing: -0.008em;
        position: relative;
        top: 30px;
        left: 0px;
        padding-bottom: 20px;
        font-size: 55px;
        text-align: left;
    }

    .subtitle {
        font-family: "San Francisco Display Semibold";
        letter-spacing: .004em;
        text-decoration: none;
        font-size: 21px;
        text-align: left;
    }

    ul#linksList {
        display: table;
        margin: 0 auto;
        padding: 0;
        justify-content: left;
        list-style-type: table;
        width: 100%;
    }
    ul#linksList li {
        float: left;
        display: block;
        padding-top: 10px;
        width: 100%;
        text-align: left;
    }
    ul#linksList li a {
        font-family: "SF Pro Text";
        text-decoration: none;
        font-size: 18px;
        color: rgb(0,112,201);
    }

}

@media only screen and (min-width: 500px), (max-width: 700) {

    .sectionContainer {
        text-align: center; 
        width: 400px; 
        float: center; 
        display: block; 
        margin: 0 auto; 
        padding-top: 500px; 
        padding-bottom: 0; 
        z-index: 9
    }

    .dayTableContainer {
        width: 85%; 
        display: block; 
        margin: 0 auto; 
        overflow-x: scroll;
    }

    div h1 {
        font-family: "San Francisco Display Semibold";
/*        color: yellow;*/
        letter-spacing: -0.008em;
        position: relative;
        top: 30px;
        left: 0px;
        padding-bottom: 20px;
        font-size: 55px;
        text-align: left;
    }

    .subtitle {
        font-family: "San Francisco Display Semibold";
        letter-spacing: .004em;
        text-decoration: none;
        font-size: 23px;
        text-align: left
    }

    ul#linksList {
        display: table;
        margin: 0 auto;
        padding: 0;
        justify-content: left;
        list-style-type: table;
        width: 100%;
    }
    ul#linksList li {
        float: left;
        display: block;
        padding-top: 10px;
        width: 100%;
        text-align: left;
    }   
    ul#linksList li a {
        font-family: "SF Pro Text";
        text-decoration: none;
        font-size: 18px;
        color: rgb(0,112,201);
    }

}

@media only screen and (min-width: 700px), (max-width: 1200) {

    .navContainer {
        display: table;
        margin: 0 auto;
        width: 700px;
        height: 100%;
    }

    .sectionContainer {
        text-align: center; 
        width: 550px; 
        float: center; 
        display: block; 
        margin: 0 auto; 
        padding-top: 500px; 
        padding-bottom: 0; 
        z-index: 9
    }

    .dayTableContainer {
        width: 60%; 
        display: block; 
        margin: 0 auto; 
        overflow-x: scroll;
    }

    div h1 {
        font-family: "San Francisco Display Semibold";
/*        color: red;*/
        letter-spacing: -0.008em;
        position: relative;
        top: 30px;
        left: 0px;
        padding-bottom: 0px;
        font-size: 65px;
        text-align: center;
    }

    .subtitle {
        font-family: "San Francisco Display Semibold";
        letter-spacing: .004em;
        text-decoration: none;
        font-size: 25px;
        text-align: center
    }

    ul#linksList {
        display: table;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        list-style-type: none;
        width: 50%;
    }
    ul#linksList li {
        display: table-cell;
        width: 50%;
        display: table-cell;
        text-align: center;
    }
    ul#linksList li a {
        display: block;
        font-family: "SF Pro Text";
        text-decoration: none;
        font-size: 20px;
        color: rgb(0,112,201);
    }
    ul#linksList li a:hover {
        text-decoration: underline;
    }

}

@media only screen and (min-width: 1200px) {
    
    .navContainer {
        display: table;
        margin: 0 auto;
        width: 900px;
        height: 100%;
    }

    .sectionContainer {
        text-align: center; 
        width: 700px; 
        float: center; 
        display: block; 
        margin: 0 auto; 
        padding-top: 500px; 
        padding-bottom: 0; 
        z-index: 9
    }

    div h1 {
        font-family: "San Francisco Display Semibold";
/*        color: blue;*/
        letter-spacing: -0.008em;
        position: relative;
        top: 50px;
        left: 0px;
        padding-bottom: 20px;
        font-size: 75px;
        text-align: center;
    }

    .subtitle {
        font-family: "San Francisco Display Semibold";
        letter-spacing: .004em;
        text-decoration: none;
        font-size: 30px;
        text-align: center
    }

    ul#linksList {
        display: table;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        list-style-type: none;
        width: 40%;
    }
    ul#linksList li {
        display: table-cell;
        width: 50%;
        display: table-cell;
        text-align: center;
    }
    ul#linksList li a {
        display: block;
        font-family: "SF Pro Text";
        text-decoration: none;
        font-size: 22px;
        color: rgb(0,112,201);
    }
    ul#linksList li a:hover {
        text-decoration: underline;
    }

}
